#launch.json folder
.vscode/
#Cache folder
.alcache/
#Symbols folder
.alpackages/
#Snapshots folder
.snapshots/
#Testing Output folder
.output/
#Extension App-file
*.app
#Rapid Application Development File
rad.json
#Translation Base-file
*.g.xlf
#License-file
*.flf
#Test results file
TestResults.xml
node_modules
package-lock.json
.prettierignore
.prettierrc

# dependencies
/node_modules
/build
/.pnp
.pnp.js

# next.js
/.next/
/out/
# vercel
.vercel

# testing
/coverage

# production
/build

# misc
.DS_Store
#.env.local
.env.development.local
.env.test.local
.env.production.local

npm-debug.log*
yarn-debug.log*
yarn-error.log*
