.contact {
  background-image: linear-gradient(
    90.21deg,
    var(--background-secondary) -5.91%,
    var(--background-third) 111.58%
  );
  padding: 42px 42px;
  text-align: left;
}

.contact img {
  width: 92%;
}

.contact h2 {
  font-size: 42px;
  font-weight: 700;
  margin-bottom: 30px;
  text-align: center;
}

.contact form input,
.contact form textarea {
  width: 100%;
  background-image: linear-gradient(
    90.21deg,
    var(--background-third) -5.91%,
    var(--background-secondary) 111.58%
  );
  border: 1px solid var(--foreground);
  color: var(--foreground);
  margin: 0 0 8px 0;
  padding: 18px 26px;
  font-weight: 500;
  font-size: 18px;
  letter-spacing: 0.8px;
  transition: 0.3s ease-in-out;
}

.contact form input:focus,
.contact form textarea:focus {
  background: var(--foreground);
  color: var(--background-secondary);
}

.contact form input::placeholder,
.contact form textarea::placeholder {
  font-size: 16px;
  font-weight: 400;
  color: var(--background-foreground);
  opacity: 0.75;
}

.contact form input:focus::placeholder,
.contact form textarea:focus::placeholder {
  color: var(--background-secondary);
}

.contact form button {
  font-weight: 700;
  width: 150px;
  padding: 14px;
  font-size: 18px;
  margin: 25px 0;
  position: relative;
  color: var(--foreground);
  border: 1px solid var(--foreground);
  background-color: transparent;
  transition: 0.4s ease-in-out;
}

.contact form button span {
  z-index: 1;
  position: relative;
}

.contact form button:hover {
  color: var(--background-secondary);
}

.contact form button::before {
  content: '';
  background: var(--foreground);
  width: 0;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 0;
  transition: 0.4s ease-in-out;
}

.contact form button:hover::before {
  width: 100%;
}

.qrCodeBlock {
  display: flex;
  flex-direction: row;
  gap: 60px;
  justify-content: center;
  text-align: center;
}

/* For screens with width > 576px and <= 992px */
@media (min-width: 768px) and (max-width: 992px) {
  .qrCodeBlock {
    flex-direction: column;
    margin-left: 60px;
  }
}

@media (width <= 767px) {
  .qrCodeBlock {
    margin-top: 25px;
  }
}

@media (width <= 576px) {
  .qrCodeBlock {
    flex-direction: column;
  }
}
