/*@import './portfolioColors.css';*/

:root {
  --foreground: #151515;
  --background-primary: #ff4544;
  --background-secondary: whitesmoke;
  --background-third: ivory;

  --PORTFOLIO_GREEN: #00babc;
  --PORTFOLIO_RED_DANGER: rgb(206, 58, 73);
  --PORTFOLIO_BLACK: #151515;
  --PORTFOLIO_WHITE: whitesmoke;
}

.dark {
  --foreground: whitesmoke;
  --background-primary: #00babc;
  --background-secondary: #000000;
  --background-third: #1f1f1f;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
  scroll-padding-top: 75px;
}

body {
  margin: 0;
  font-weight: 400;
  overflow-x: hidden;
  position: relative;
  background: linear-gradient(
    90.21deg,
    var(--background-secondary) -5.91%,
    var(--background-primary) 111.58%
  ) !important;
  /*background-color: #121212 !important;*/
  color: var(--foreground) !important;
  font-family: 'Montserrat', sans-serif !important;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  padding: 0;
  line-height: normal;
}

a:hover {
  transition-duration: 0.5s;
  text-decoration: none;
}

p,
a,
li,
button,
ul {
  margin: 0;
  padding: 0;
  line-height: normal;
  text-decoration: none;
}

/*img {
  width: 100%;
  height: auto;
}*/

/*button {
  border: 0;
  background-color: transparent;
}*/

input:focus,
textarea:focus,
select:focus {
  outline: none;
}

@media (min-width: 1700px) {
  main .container {
    max-width: 100%;
    padding: 0 150px;
  }
}

p.success {
  color: var(--PORTFOLIO_GREEN);
}

p.warning {
  color: var(--PORTFOLIO_RED_DANGER);
}

/* view transition api (smooth theme toggle) */
::view-transition-group(root) {
  animation-duration: 0.7s;
  animation-timing-function: var(--expo-out);
}

::view-transition-new(root) {
  animation-name: reveal;
}

::view-transition-old(root),
.dark::view-transition-old(root) {
  animation: none;
  z-index: -1;
}

@keyframes reveal {
  from {
    clip-path: polygon(50% 0%, 50% 0%, 50% 100%, 50% 100%);
  }
  to {
    clip-path: polygon(0% 0%, 100% 0%, 100% 100%, 0% 100%);
  }
}
