/* NavBar.module.css */

.navbar {
  padding: 18px 41px;
  position: fixed;
  width: 100%;
  top: 0;
  z-index: 9999;
  transition: 0.4s ease-in-out;
  display: flex;
  flex-direction: row;
  gap: 21px;
  justify-content: center;
}

.navLinks {
  display: flex;
  flex-direction: row;
  gap: 21px;
  align-items: center;
}

.navLinks a {
  font-weight: 400;
  color: var(--foreground) !important;
  letter-spacing: 0.8px;
  padding: 0 25px;
  font-size: 18px;
  opacity: 0.75;
  transition: 0.4s ease-in-out;
  text-decoration: none;
}

.navLinks a:hover {
  opacity: 1;
}

.active {
  opacity: 1;
}

.scrolled {
  padding: 0px 21px;
  background-color: var(--background-secondary);
}

.navbarToggle {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.navbarToggle:hover {
  cursor: pointer;
}

.logo {
  width: auto;
  max-width: 80px;
  padding: 11px 11px;
  cursor: pointer;
  height: auto;
  transition: 0.4s ease-in-out;
}

.navbar span {
  display: flex;
  align-items: center;
}

.navbar button {
  font-weight: 700;
  color: var(--foreground);
  border: 1px solid var(--foreground);
  padding: 18px;
  font-size: 18px;
  position: relative;
  background-color: transparent;
  transition: 0.4s ease-in-out;
}

.navbar button span {
  z-index: 1;
}

.navbar button::before {
  content: '';
  width: 0%;
  height: 100%;
  position: absolute;
  background-color: var(--foreground);
  left: 0;
  top: 0;
  z-index: -1;
  transition: 0.4s ease-in-out;
}

.navbar button:hover {
  color: var(--background-secondary);
}

.navbar button:hover::before {
  content: '';
  width: 100%;
  height: 100%;
  position: absolute;
}

.logoWrapper {
  flex-grow: 1;
  display: flex;
  align-items: center;
}

@media (max-width: 800px) {
  .navbar {
    padding: 0 30px;
  }
}

@media (max-width: 960px) {
  .navbar {
    gap: 5px;
  }

  .navLinks {
    gap: 5px;
  }

  .logo {
    width: 300px;
  }

  .logoWrapper {
    flex-grow: 0;
    justify-content: center;
  }

  .navbarToggle {
    flex-grow: 1;
    justify-content: flex-start;
  }
}
