@import './portfolioColors.css';

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Montserrat', sans-serif;
}

body {
  font-style: normal;
  letter-spacing: 0.15px;
  color: var(--PORTFOLIO_WHITE);
  background: var(--PORTFOLIO_BLACK);
}

a {
  color: var(--PORTFOLIO_WHITE);
  font-size: 21px;
  text-decoration: none;
  font-weight: 500;
}

a:hover {
  color: var(--PORTFOLIO_BLACK);
}

nav {
  width: 100%;
  position: sticky;
  top: 0px;
  background-color: var(--PORTFOLIO_GREEN);
  height: 50px;
  flex-direction: row;
  gap: 42px;
}

h1 {
  font-weight: 500;
}

.App {
  text-align: center;
}

.active {
  color: var(--PORTFOLIO_BLACK);
  text-decoration: none;
}
