:root {
  --PORTFOLIO_BLACK: #151515;
  --PORTFOLIO_BLACK_DEEP: #000000;
  --PORTFOLIO_WHITE: rgb(250, 250, 250);
  --PORTFOLIO_GREEN: #00babc;
  --PORTFOLIO_BLUE: #4A2FBD;
  --PORTFOLIO_RED: #d8636f;
  --PORTFOLIO_RED_DANGER: rgb(206, 58, 73);
}
